.godot/
.import/
bin/
tests/bin/
__pycache__/
*.py[cod]
godot-cpp/bin/
godot-cpp/gen/
godot-cpp/.sconsign*.dblite
*.o
.sconsign*.dblite
*.os
*.so
*.dylib
*.dll
*.framework/
*.xcworkspace/
*.xcodeproj/
*.DS_Store
